<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-light" href="#">Book store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light" routerLink="/book-list">Show Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light"  routerLink="/add-book">Add Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="#">User</a>
      </li>
    
    <span class="navbar-text fw-bold   text-light d-flex">
      Developed by DD
    </span>
  </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid" style="background-color: rgb(205, 216, 218);">
  <div class="container">
    <h1 class="display-4 text-center">Angular Book Store Using MEAN stack</h1>
    <p class="lead text-center">contack me to do angular project 
  </p>
  <p class="lead text-center">Email : drisyadhar2021@gmail.com
  </p>
  
  </div>
</div>



<router-outlet></router-outlet>